<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    {{new-todo placeholder="What needs to be done?" autofocus="true" createTodo=(action 'createTodo')}}
  </header>
  <section class="main">
    <ul class="todo-list">
      {{#each todos as |todo|}}
        {{todo-item label=todo.label isCompleted=todo.isCompleted isEditing=todo.isEditing destroyTodo=(action 'destroyTodo' todo)}}
      {{/each}}
    </ul>
  </section>
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{incompleteTodos.length}}</strong> item left</span>
    {{#if hasCompleted}}
      <button class="clear-completed" onclick={{action 'clearCompleted'}}>Clear completed</button>
    {{/if}}
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>